.container {
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.container>span {
	color: #ffffff;
}

.loader {
	border: 3px solid #fff;
	border-top: 3px solid var(--primary);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}